.cover{
    background: pink;
    background-size: cover;
    height: 50vh;
    /* align-items: center; */

}

.wrapper{
    height: 40vh;
    display: flex;
    /* background-color: teal; */
    /* justify-content: center; */
    align-items: flex-end;
}

.dp>img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left:5px;
}

.dp{
    margin-left: 20px;
    margin-right: 10px;
    /* background: red; */
    height: 130px;
    width:110px;
}

 .avatar{
    display: block;
    /* color: yellow; */
    background-color: aliceblue;
    display: none;
 }

.change{
    color:white;
    /* height:60px;
    width:250px; */
    display: block;
    text-align: center;
    margin-top: 10px;
    background:blue;
    border-radius: 4px;
    font-size: 15px;
}

.nums{
    text-align: center;
}

.options{
    height: 10vh;
    /* background: chocolate; */
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.wrapper>h3 {
    color: black;    
    /* background-color: white; */
    display: flex;
    align-items: center;
    height: 130px;
}


@media(max-width: 1030px){
    .wrapper{
        height: 30vh;
        display: flex;
        /* background-color: teal; */
        /* justify-content: center; */
        align-items: center;
    }

    .cover{

        height: 40vh;
        /* align-items: center; */
    
    }

    .dp{
        margin-left: 10%;
    }

}
@media(min-width: 750px){
    .wrapper{
        height: 30vh;
        display: flex;
        /* background-color: teal; */
        /* justify-content: center; */
        align-items: center;
    }

    .cover{

        height: 40vh;
        /* align-items: center; */
    
    }

}

