
.brand{
 font-size: 40px;
 color: #343a40;
 text-decoration: none;
}

.brand:hover{
  text-decoration: none;
  color: #343a40;
}

@media(max-width:300px){
  .logo{
    margin-left:0;
    margin-right: auto;
  }
}
